body {
    background: url("../img/desert-sand-dunes.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.podname {
    font-size: 15px;
    font-weight: 700;
}

.kyactus {
    top: var(--top, 320px);
    position: absolute;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 4s;
}

@keyframes run {
    0% {
        left: var(--zeroLeftStart, 10%);
    }

    50% {
        left: var(--zeroLeftEnd, 80%);
    }

    100% {
        left: var(--zeroLeftStart, 10%);
    }
}